{:deps {org.clojure/clojure {:mvn/version "1.10.3"}
        io.prometheus/simpleclient {:mvn/version "0.12.0"}
        io.prometheus/simpleclient_common {:mvn/version "0.12.0"}
        io.prometheus/simpleclient_pushgateway {:mvn/version "0.12.0"}
        io.prometheus/simpleclient_hotspot {:mvn/version "0.12.0"}}}
